.main-content {
  &-top {
    display: flex;
    justify-content: space-between;
  }
}
.post {
  position: relative;
  margin-top: 80px;
  &-inner {
    display: flex;
  }
  &-left {
    width: 75%;
    padding-right: 30px;
  }
  &-right {
    $max-width: 300px;
    $percentage: 25%;
    position: sticky;
    width: 300px;
    max-height: 100vh;
    background: #ba3939;
    top: 0;
    bottom: 0;
    left: 80%;
  }
  &-time {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 22.4px;
    text-decoration: none;
    color: rgb(155, 155, 155);
  }
  &-content {
    margin-top: 20px;
    &-top {
      display: grid;
      grid-template-columns: 3fr 2fr;
      justify-content: space-between;
      align-items: center;
    }
  }
  &-title {
    margin-top: 40px;
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 700;
    color: rgb(27, 27, 27);
  }
  &-main {
    margin-top: 40px;
    > figure {
      margin: 27px auto 0;
      width: 100% !important;
      > img {
        width: 100%;
        object-fit: contain;
      }
    }
    > p {
      margin-top: 27px;
      font-size: 1.8rem;
      letter-spacing: -0.054px;
      line-height: 1.75;
    }
    > h2 {
      margin: 48px 0 19px 0;
      font-size: 3.15rem;
      font-weight: 700;
    }
    img {
      width: 100%;
    }
  }
  &-info {
    flex-shrink: 0;
    &-bottom {
      margin-top: 10px;
      display: flex;
      gap: 10px;
    }
    &-item {
      display: flex;
      align-items: center;
      gap: 10px;

      > img {
        width: 18px;
        height: 18px;
        fill: rgb(155, 155, 155);
      }
      > span {
        font-size: 2rem;
        font-weight: 500;
        color: rgb(155, 155, 155);
      }
    }
  }
  &-related {
    &-list {
      margin-top: 20px;
      display: flex;
      margin-left: -10px;
      overflow: hidden;
    }
    &-item {
      margin-left: 10px;
      flex-shrink: 0;
      width: calc(100% / 4 - 10px);
      box-shadow: 0 2px 0.25rem rgba(27, 27, 27, 0.075);
      border: 1px solid rgba(27, 27, 27, 0.125);
      border-radius: 4px;
    }
    &-title {
      font-size: 1.76rem;
      font-weight: 400;
      line-height: 24px;
      color: rgb(11, 26, 51);
    }
    &-info {
      padding: 20px;
    }
    &-user {
      margin-top: 10px;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.6;
      color: rgb(84, 136, 199);
    }
  }
  &-stats {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 10px;
    &-item {
      display: flex;
      gap: 5px;
      align-items: center;
      > img {
        width: 18px;
        height: 18px;
      }
      font-size: 1.8rem;
      font-weight: 500;
      color: rgb(155, 155, 155);
    }
  }
}
.user {
  &-info {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &-avt {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  &-name {
    color: #5488c7;
    text-decoration: none;
    background-color: initial;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 24px;
  }
}
.content {
  margin-top: 20px;
}
.related-articles {
  margin-top: 30px;
  &-heading {
    font-size: 1.828rem;
    color: #1b1b1b;
    font-weight: 700;
  }
}
.comment {
  margin-top: 40px;
  &-title {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(27, 27, 27);
  }
  &-list {
    margin-top: 40px;
  }
  &-item {
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    .comment-reply {
      margin-left: 30px;
      padding: 0;
      border: none;
    }
    + .comment-item {
      margin-top: 30px;
    }
    &-info {
      display: flex;
      gap: 10px;
    }
    &-content {
      margin-top: 20px;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.75;
    }
    &-bottom {
      display: flex;
      gap: 15px;
      > a {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.6;
        color: #9b9b9b;
      }
    }
  }
  &-user {
    &-avt {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    &-name {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.6;
      color: #5488c7;
    }
  }
  &-time {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #9b9b9b;
  }
}
.form-comment {
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  &-group {
    display: flex;
    gap: 30px;
  }
  &-textarea {
    padding: 8px;
    width: 100%;
    height: 120px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    resize: none;
    color: rgb(27, 27, 27);
    font-size: 1.8rem;
    line-height: 1.6;
    &:focus {
      outline: none;
      border-width: 2px;
    }
  }
  &-submit {
    display: flex;
    margin-left: auto;
    margin-top: 30px;
    padding: 8px 16px;
    background-color: #5488c7;
    border-radius: 3px;
    font-weight: 500;
    font-size: 1.6rem;
    color: #fff;
  }
}
.avt-user {
  height: 40px;
  width: 40px;
  object-fit: contain;
  border-radius: 50%;
}
